@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-display : var(--font-syne);
    --font-body : var(--font-comfortaa);
}

body {
    font-family: var(--font-body) , sans-serif;
}

*{
    user-select: none;
}


@media (max-width : 500px) {
    .hero-title{
        font-size: clamp(30px, 17.2px + 8.5vw, 60px);
    }
}